<?xml version="1.0" encoding="ISO-8859-1"?>
<?xml-stylesheet href="file:///C|/Program Files/pawno/xml/pawndoc.xsl" type="text/xsl"?>
<doc source="server.cfg">
	<assembly>
		<name>server.cfg</name>
	</assembly>
	<members>

		<!-- enumerations -->

		<!-- constants -->

		<!-- variables -->

		<!-- functions -->

	</members>
</doc>
